.enviando {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cccccc73;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none !important;
}