/* You can add global styles to this file, and also import other style files */
@use 'styles/reboot';
@use 'styles/themes';
@use 'styles/colors';
@use 'styles/grid';
@use 'styles/helpers';
@use 'styles/plugins';
@use 'styles/custom';

* {
    font-family: 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !important;
}